.elementor-8
  .elementor-element.elementor-element-3f828e0e:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-8
  .elementor-element.elementor-element-3f828e0e
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #ffffff;
}
.elementor-8 .elementor-element.elementor-element-3f828e0e {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 010px 0px 010px 0px;
}
.elementor-8
  .elementor-element.elementor-element-3f828e0e
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-bc-flex-widget
  .elementor-8
  .elementor-element.elementor-element-47608c88.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-8
  .elementor-element.elementor-element-47608c88.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-8 .elementor-element.elementor-element-2bc6f074 {
  text-align: left;
}
.elementor-8 .elementor-element.elementor-element-2bc6f074 img {
  width: 71%;
}
.elementor-8
  .elementor-element.elementor-element-2f8ca672
  .elementor-menu-toggle {
  margin: 0 auto;
  background-color: #2f2f2f;
}
.elementor-8
  .elementor-element.elementor-element-2f8ca672
  .elementor-nav-menu
  .elementor-item {
  font-family: "PT Serif", Sans-serif;
  font-size: 16px;
  font-weight: 800;
}
.elementor-8
  .elementor-element.elementor-element-2f8ca672
  .elementor-nav-menu--main
  .elementor-item {
  color: #faa429;
  fill: #faa429;
}
.elementor-8
  .elementor-element.elementor-element-2f8ca672
  .elementor-nav-menu--main:not(.e--pointer-framed)
  .elementor-item:before,
.elementor-8
  .elementor-element.elementor-element-2f8ca672
  .elementor-nav-menu--main:not(.e--pointer-framed)
  .elementor-item:after {
  background-color: #faa429;
}
.elementor-8
  .elementor-element.elementor-element-2f8ca672
  .e--pointer-framed
  .elementor-item:before,
.elementor-8
  .elementor-element.elementor-element-2f8ca672
  .e--pointer-framed
  .elementor-item:after {
  border-color: #faa429;
}
.elementor-8
  .elementor-element.elementor-element-2f8ca672
  .elementor-nav-menu--dropdown
  a,
.elementor-8
  .elementor-element.elementor-element-2f8ca672
  .elementor-menu-toggle {
  color: #faa429;
}
.elementor-8
  .elementor-element.elementor-element-2f8ca672
  .elementor-nav-menu--dropdown {
  background-color: #171717;
}
.elementor-8
  .elementor-element.elementor-element-2f8ca672
  .elementor-nav-menu--dropdown
  a:hover,
.elementor-8
  .elementor-element.elementor-element-2f8ca672
  .elementor-nav-menu--dropdown
  a.elementor-item-active,
.elementor-8
  .elementor-element.elementor-element-2f8ca672
  .elementor-nav-menu--dropdown
  a.highlighted,
.elementor-8
  .elementor-element.elementor-element-2f8ca672
  .elementor-menu-toggle:hover {
  color: #faa429;
}
.elementor-8
  .elementor-element.elementor-element-2f8ca672
  .elementor-nav-menu--dropdown
  a:hover,
.elementor-8
  .elementor-element.elementor-element-2f8ca672
  .elementor-nav-menu--dropdown
  a.elementor-item-active,
.elementor-8
  .elementor-element.elementor-element-2f8ca672
  .elementor-nav-menu--dropdown
  a.highlighted {
  background-color: #ffffff;
}
.elementor-8
  .elementor-element.elementor-element-2f8ca672
  .elementor-nav-menu--dropdown
  .elementor-item,
.elementor-8
  .elementor-element.elementor-element-2f8ca672
  .elementor-nav-menu--dropdown
  .elementor-sub-item {
  font-family: "Marcellus", Sans-serif;
  font-size: 15px;
}
.elementor-8
  .elementor-element.elementor-element-2f8ca672
  .elementor-nav-menu--dropdown
  a {
  padding-top: 10px;
  padding-bottom: 10px;
}
.elementor-8
  .elementor-element.elementor-element-2f8ca672
  .elementor-nav-menu--main
  > .elementor-nav-menu
  > li
  > .elementor-nav-menu--dropdown,
.elementor-8
  .elementor-element.elementor-element-2f8ca672
  .elementor-nav-menu__container.elementor-nav-menu--dropdown {
  margin-top: 8px !important;
}
.elementor-8
  .elementor-element.elementor-element-2f8ca672
  div.elementor-menu-toggle {
  color: #8a7054;
}
.elementor-8
  .elementor-element.elementor-element-2f8ca672
  div.elementor-menu-toggle
  svg {
  fill: #8a7054;
}
.elementor-8
  .elementor-element.elementor-element-31ea79b9:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-8
  .elementor-element.elementor-element-31ea79b9
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  /* background-color: #212121; */
  /* background-image: url("https://coffeeerc.vip/wp-content/uploads/2023/10/home-3.jpg"); */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-8 .elementor-element.elementor-element-31ea79b9 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 200px 0px 300px 0px;
}
.elementor-8
  .elementor-element.elementor-element-31ea79b9
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-bc-flex-widget
  .elementor-8
  .elementor-element.elementor-element-534974c2.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-8
  .elementor-element.elementor-element-534974c2.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-8 .elementor-element.elementor-element-42e8302e {
  text-align: left;
}
.elementor-8
  .elementor-element.elementor-element-42e8302e
  .elementor-heading-title {
  color: #000000;
  font-family: "PT Serif", Sans-serif;
  font-size: 65px;
  font-weight: 900;
  letter-spacing: 6.3px;
  text-shadow: 1px 2px 0px #faa429;
}
.elementor-8
  .elementor-element.elementor-element-42e8302e
  > .elementor-widget-container {
  padding: 0px 0px 0px 0px;
}
.elementor-8 .elementor-element.elementor-element-35eee9f7 {
  color: #000000;
  font-family: "Karla", Sans-serif;
  font-size: 17px;
}
.elementor-8 .elementor-element.elementor-element-a3c0493 {
  color: #000000;
  font-family: "Karla", Sans-serif;
  font-size: 17px;
}
.elementor-8 .elementor-element.elementor-element-7342833a .elementor-button {
  font-family: "PT Serif", Sans-serif;
  font-weight: 800;
  letter-spacing: 1.4px;
  fill: #ffffff;
  color: #ffffff;
  background-color: #faa429;
  border-radius: 0px 0px 0px 0px;
  padding: 17px 20px 17px 20px;
}
.elementor-bc-flex-widget
  .elementor-8
  .elementor-element.elementor-element-3098ac01.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-8
  .elementor-element.elementor-element-3098ac01.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-8 .elementor-element.elementor-element-5416aa13,
.elementor-8
  .elementor-element.elementor-element-5416aa13
  > .elementor-background-overlay {
  border-radius: 2px 2px 2px 2px;
}
.elementor-8 .elementor-element.elementor-element-5416aa13 {
  margin-top: -160px;
  margin-bottom: 0px;
}
.elementor-8
  .elementor-element.elementor-element-2daf33be
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(
    .elementor-widget__width-initial
  ):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0px;
}
.elementor-8
  .elementor-element.elementor-element-2daf33be:not(
    .elementor-motion-effects-element-type-background
  )
  > .elementor-widget-wrap,
.elementor-8
  .elementor-element.elementor-element-2daf33be
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #faa429;
}
.elementor-8
  .elementor-element.elementor-element-2daf33be
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 30px 0px 20px 0px;
}
.elementor-8
  .elementor-element.elementor-element-2daf33be
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-8
  .elementor-element.elementor-element-280cdf30
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(
    .elementor-widget__width-initial
  ):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0px;
}
.elementor-8
  .elementor-element.elementor-element-280cdf30:not(
    .elementor-motion-effects-element-type-background
  )
  > .elementor-widget-wrap,
.elementor-8
  .elementor-element.elementor-element-280cdf30
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #faa429;
}
.elementor-8
  .elementor-element.elementor-element-280cdf30
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 30px 0px 20px 0px;
}
.elementor-8
  .elementor-element.elementor-element-280cdf30
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-8 .elementor-element.elementor-element-a2cf1a8 {
  --spacer-size: 163px;
}
.elementor-8
  .elementor-element.elementor-element-752545b5
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(
    .elementor-widget__width-initial
  ):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0px;
}
.elementor-8
  .elementor-element.elementor-element-752545b5:not(
    .elementor-motion-effects-element-type-background
  )
  > .elementor-widget-wrap,
.elementor-8
  .elementor-element.elementor-element-752545b5
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #faa429;
}
.elementor-8
  .elementor-element.elementor-element-752545b5
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 30px 0px 20px 0px;
}
.elementor-8
  .elementor-element.elementor-element-752545b5
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-8 .elementor-element.elementor-element-234a9461 {
  padding: 120px 0px 0px 0px;
}
.elementor-8
  .elementor-element.elementor-element-85da2f6
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(
    .elementor-widget__width-initial
  ):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 15px;
}
.elementor-8 .elementor-element.elementor-element-336a0f60 {
  text-align: center;
}
.elementor-8
  .elementor-element.elementor-element-336a0f60
  .elementor-heading-title {
  color: #1e1e1e;
  font-family: "PT Serif", Sans-serif;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 0px;
}
.elementor-8
  .elementor-element.elementor-element-336a0f60
  > .elementor-widget-container {
  padding: 0px 0px 0px 0px;
}
.elementor-8 .elementor-element.elementor-element-4ebe2733 img {
  width: 230px;
}
.elementor-8
  .elementor-element.elementor-element-2d38fb62:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-8
  .elementor-element.elementor-element-2d38fb62
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  /* background-image: url("https://coffeeerc.vip/wp-content/uploads/2023/10/bg-left-2.jpg"); */
  background-position: center left;
  background-repeat: no-repeat;
}
.elementor-8 .elementor-element.elementor-element-2d38fb62 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 30px 0px 120px 0px;
}
.elementor-8
  .elementor-element.elementor-element-2d38fb62
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-bc-flex-widget
  .elementor-8
  .elementor-element.elementor-element-5fc6ebdf.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-8
  .elementor-element.elementor-element-5fc6ebdf.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-8
  .elementor-element.elementor-element-5fc6ebdf
  > .elementor-element-populated {
  padding: 0px 0px 0px 40px;
}
.elementor-8
  .elementor-element.elementor-element-9d7a27f.elementor-position-right
  .elementor-image-box-img {
  margin-left: 13px;
}
.elementor-8
  .elementor-element.elementor-element-9d7a27f.elementor-position-left
  .elementor-image-box-img {
  margin-right: 13px;
}
.elementor-8
  .elementor-element.elementor-element-9d7a27f.elementor-position-top
  .elementor-image-box-img {
  margin-bottom: 13px;
}
.elementor-8
  .elementor-element.elementor-element-9d7a27f
  .elementor-image-box-wrapper
  .elementor-image-box-img {
  width: 24%;
}
.elementor-8
  .elementor-element.elementor-element-9d7a27f
  .elementor-image-box-img
  img {
  transition-duration: 0.3s;
}
.elementor-8
  .elementor-element.elementor-element-9d7a27f
  .elementor-image-box-title {
  margin-bottom: 9px;
  color: #faa429;
  font-family: "PT Serif", Sans-serif;
  font-size: 27px;
  font-weight: 600;
}
.elementor-8
  .elementor-element.elementor-element-9d7a27f
  .elementor-image-box-description {
  color: #7a7a7a;
  font-family: "Karla", Sans-serif;
}
.elementor-8
  .elementor-element.elementor-element-9d7a27f
  > .elementor-widget-container {
  background-color: #ffffff;
}
.elementor-8
  .elementor-element.elementor-element-9d7a27f.ha-has-bg-overlay
  > .elementor-widget-container:before {
  transition: background 0.3s;
}
.elementor-8
  .elementor-element.elementor-element-7e98bc99.elementor-position-right
  .elementor-image-box-img {
  margin-left: 13px;
}
.elementor-8
  .elementor-element.elementor-element-7e98bc99.elementor-position-left
  .elementor-image-box-img {
  margin-right: 13px;
}
.elementor-8
  .elementor-element.elementor-element-7e98bc99.elementor-position-top
  .elementor-image-box-img {
  margin-bottom: 13px;
}
.elementor-8
  .elementor-element.elementor-element-7e98bc99
  .elementor-image-box-wrapper
  .elementor-image-box-img {
  width: 24%;
}
.elementor-8
  .elementor-element.elementor-element-7e98bc99
  .elementor-image-box-img
  img {
  transition-duration: 0.3s;
}
.elementor-8
  .elementor-element.elementor-element-7e98bc99
  .elementor-image-box-title {
  margin-bottom: 9px;
  color: #faa429;
  font-family: "PT Serif", Sans-serif;
  font-size: 27px;
  font-weight: 600;
}
.elementor-8
  .elementor-element.elementor-element-7e98bc99
  .elementor-image-box-description {
  color: #7a7a7a;
  font-family: "Karla", Sans-serif;
}
.elementor-8
  .elementor-element.elementor-element-7e98bc99
  > .elementor-widget-container {
  background-color: #ffffff;
}
.elementor-8
  .elementor-element.elementor-element-7e98bc99.ha-has-bg-overlay
  > .elementor-widget-container:before {
  transition: background 0.3s;
}
.elementor-8
  .elementor-element.elementor-element-247b6cc7.elementor-position-right
  .elementor-image-box-img {
  margin-left: 13px;
}
.elementor-8
  .elementor-element.elementor-element-247b6cc7.elementor-position-left
  .elementor-image-box-img {
  margin-right: 13px;
}
.elementor-8
  .elementor-element.elementor-element-247b6cc7.elementor-position-top
  .elementor-image-box-img {
  margin-bottom: 13px;
}
.elementor-8
  .elementor-element.elementor-element-247b6cc7
  .elementor-image-box-wrapper
  .elementor-image-box-img {
  width: 24%;
}
.elementor-8
  .elementor-element.elementor-element-247b6cc7
  .elementor-image-box-img
  img {
  transition-duration: 0.3s;
}
.elementor-8
  .elementor-element.elementor-element-247b6cc7
  .elementor-image-box-title {
  margin-bottom: 9px;
  color: #faa429;
  font-family: "PT Serif", Sans-serif;
  font-size: 27px;
  font-weight: 600;
}
.elementor-8
  .elementor-element.elementor-element-247b6cc7
  .elementor-image-box-description {
  color: #7a7a7a;
  font-family: "Karla", Sans-serif;
}
.elementor-8
  .elementor-element.elementor-element-247b6cc7
  > .elementor-widget-container {
  background-color: #ffffff;
}
.elementor-8
  .elementor-element.elementor-element-247b6cc7.ha-has-bg-overlay
  > .elementor-widget-container:before {
  transition: background 0.3s;
}
.elementor-8
  .elementor-element.elementor-element-2933390c.elementor-position-right
  .elementor-image-box-img {
  margin-left: 13px;
}
.elementor-8
  .elementor-element.elementor-element-2933390c.elementor-position-left
  .elementor-image-box-img {
  margin-right: 13px;
}
.elementor-8
  .elementor-element.elementor-element-2933390c.elementor-position-top
  .elementor-image-box-img {
  margin-bottom: 13px;
}
.elementor-8
  .elementor-element.elementor-element-2933390c
  .elementor-image-box-wrapper
  .elementor-image-box-img {
  width: 24%;
}
.elementor-8
  .elementor-element.elementor-element-2933390c
  .elementor-image-box-img
  img {
  transition-duration: 0.3s;
}
.elementor-8
  .elementor-element.elementor-element-2933390c
  .elementor-image-box-title {
  margin-bottom: 9px;
  color: #faa429;
  font-family: "PT Serif", Sans-serif;
  font-size: 27px;
  font-weight: 600;
}
.elementor-8
  .elementor-element.elementor-element-2933390c
  .elementor-image-box-description {
  color: #7a7a7a;
  font-family: "Karla", Sans-serif;
}
.elementor-8
  .elementor-element.elementor-element-2933390c
  > .elementor-widget-container {
  background-color: #ffffff;
}
.elementor-8
  .elementor-element.elementor-element-2933390c.ha-has-bg-overlay
  > .elementor-widget-container:before {
  transition: background 0.3s;
}
.elementor-8
  .elementor-element.elementor-element-15763f65:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-8
  .elementor-element.elementor-element-15763f65
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  /* background-image: url("https://coffeeerc.vip/wp-content/uploads/2023/10/espresso-coffee-cup-coffee-beans_79603-1038.webp"); */
  background-position: center center;
  background-size: cover;
}
.elementor-8
  .elementor-element.elementor-element-15763f65
  > .elementor-background-overlay {
  background-color: transparent;
  background-image: linear-gradient(250deg, rgba(0, 0, 0, 0) 0%, #3ea4db 48%);
  opacity: 0.87;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-8 .elementor-element.elementor-element-15763f65 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 150px 0px 150px 0px;
}
.elementor-bc-flex-widget
  .elementor-8
  .elementor-element.elementor-element-4e8de53c.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-8
  .elementor-element.elementor-element-4e8de53c.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-8
  .elementor-element.elementor-element-4e8de53c
  > .elementor-element-populated {
  padding: 0% 0% 0% 0%;
}
.elementor-8 .elementor-element.elementor-element-2195ef62 {
  text-align: center;
}
.elementor-8
  .elementor-element.elementor-element-2195ef62
  .elementor-heading-title {
  color: #ffffff;
  font-family: "PT Serif", Sans-serif;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 0px;
}
.elementor-8
  .elementor-element.elementor-element-2195ef62
  > .elementor-widget-container {
  padding: 0px 0px 0px 0px;
}
.elementor-8 .elementor-element.elementor-element-7b4b21a9 img {
  width: 230px;
}
.elementor-8 .elementor-element.elementor-element-4759d7aa {
  text-align: center;
  color: #dadada;
  font-family: "Karla", Sans-serif;
  font-size: 17px;
}
.elementor-8 .elementor-element.elementor-element-817d5d9 .elementor-button {
  font-family: "Karla", Sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  fill: #ffffff;
  color: #ffffff;
  background-color: rgba(192, 170, 131, 0);
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-radius: 0px 0px 0px 0px;
  padding: 17px 20px 17px 20px;
}
.elementor-8 .elementor-element.elementor-element-154e9ff9 {
  padding: 120px 0px 0px 0px;
}
.elementor-8
  .elementor-element.elementor-element-3a87377b
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(
    .elementor-widget__width-initial
  ):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 15px;
}
.elementor-8
  .elementor-element.elementor-element-3a87377b
  > .elementor-element-populated {
  padding: -14px 0px 21px 0px;
}
.elementor-8 .elementor-element.elementor-element-18bb419 {
  --divider-border-style: slashes;
  --divider-color: #1d5f48;
  --divider-border-width: 1px;
  --divider-pattern-height: 20px;
  --divider-pattern-size: 20px;
}
.elementor-8
  .elementor-element.elementor-element-18bb419
  .elementor-divider-separator {
  width: 100%;
}
.elementor-8 .elementor-element.elementor-element-18bb419 .elementor-divider {
  padding-top: 15px;
  padding-bottom: 15px;
}
.elementor-8
  .elementor-element.elementor-element-5802f088:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-8
  .elementor-element.elementor-element-5802f088
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  /* background-image: url("https://coffeeerc.vip/wp-content/uploads/2023/10/hand-drawn-engraved-coffee-shop-doodles_52683-70819.webp"); */
  background-position: center center;
  background-size: cover;
}
.elementor-8
  .elementor-element.elementor-element-5802f088
  > .elementor-background-overlay {
  background-color: #43a8dc;
  opacity: 0.73;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-8 .elementor-element.elementor-element-5802f088 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 100px 0px 100px 0px;
}
.elementor-8
  .elementor-element.elementor-element-4f2e15db
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(
    .elementor-widget__width-initial
  ):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 5px;
}
.elementor-8 .elementor-element.elementor-element-1ad9f5fb {
  text-align: center;
}
.elementor-8
  .elementor-element.elementor-element-1ad9f5fb
  .elementor-heading-title {
  color: #ffffff;
  font-family: "PT Serif", Sans-serif;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 0px;
}
.elementor-8
  .elementor-element.elementor-element-1ad9f5fb
  > .elementor-widget-container {
  padding: 0px 0px 0px 0px;
}
.elementor-8 .elementor-element.elementor-element-51ff524a img {
  width: 230px;
}
.elementor-8 .elementor-element.elementor-element-1e2de74a {
  --spacer-size: 26px;
}
.elementor-8
  .elementor-element.elementor-element-755e6f80
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(
    .elementor-widget__width-initial
  ):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 8px;
}
.elementor-8
  .elementor-element.elementor-element-755e6f80
  > .elementor-element-populated {
  margin: 10px 10px 10px 10px;
  --e-column-margin-right: 10px;
  --e-column-margin-left: 10px;
}
.elementor-8 .elementor-element.elementor-element-709f8ef7 {
  text-align: center;
}
.elementor-8
  .elementor-element.elementor-element-709f8ef7
  .elementor-heading-title {
  color: #ffffff;
  font-family: "PT Serif", Sans-serif;
  font-size: 54px;
  font-weight: 800;
  letter-spacing: 1px;
}
.elementor-8
  .elementor-element.elementor-element-709f8ef7
  > .elementor-widget-container {
  padding: 0px 0px 0px 0px;
}
.elementor-8 .elementor-element.elementor-element-4e8414ef {
  text-align: center;
}
.elementor-8
  .elementor-element.elementor-element-4e8414ef
  .elementor-heading-title {
  color: #ffffff;
  font-family: "PT Serif", Sans-serif;
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 1.1px;
}
.elementor-8
  .elementor-element.elementor-element-4e8414ef
  > .elementor-widget-container {
  padding: 0px 0px 0px 0px;
}
.elementor-8
  .elementor-element.elementor-element-6cfdc42e
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(
    .elementor-widget__width-initial
  ):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 8px;
}
.elementor-8
  .elementor-element.elementor-element-6cfdc42e
  > .elementor-element-populated {
  margin: 10px 10px 10px 10px;
  --e-column-margin-right: 10px;
  --e-column-margin-left: 10px;
}
.elementor-8 .elementor-element.elementor-element-2068691c {
  text-align: center;
}
.elementor-8
  .elementor-element.elementor-element-2068691c
  .elementor-heading-title {
  color: #ffffff;
  font-family: "PT Serif", Sans-serif;
  font-size: 54px;
  font-weight: 800;
  letter-spacing: 1px;
}
.elementor-8
  .elementor-element.elementor-element-2068691c
  > .elementor-widget-container {
  padding: 0px 0px 0px 0px;
}
.elementor-8 .elementor-element.elementor-element-3b405b79 {
  text-align: center;
}
.elementor-8
  .elementor-element.elementor-element-3b405b79
  .elementor-heading-title {
  color: #ffffff;
  font-family: "PT Serif", Sans-serif;
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 1.1px;
}
.elementor-8
  .elementor-element.elementor-element-3b405b79
  > .elementor-widget-container {
  padding: 0px 0px 0px 0px;
}
.elementor-8
  .elementor-element.elementor-element-11d61755
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(
    .elementor-widget__width-initial
  ):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 8px;
}
.elementor-8
  .elementor-element.elementor-element-11d61755
  > .elementor-element-populated {
  margin: 10px 10px 10px 10px;
  --e-column-margin-right: 10px;
  --e-column-margin-left: 10px;
}
.elementor-8 .elementor-element.elementor-element-5046ed3e {
  text-align: center;
}
.elementor-8
  .elementor-element.elementor-element-5046ed3e
  .elementor-heading-title {
  color: #ffffff;
  font-family: "PT Serif", Sans-serif;
  font-size: 54px;
  font-weight: 800;
  letter-spacing: 1px;
}
.elementor-8
  .elementor-element.elementor-element-5046ed3e
  > .elementor-widget-container {
  padding: 0px 0px 0px 0px;
}
.elementor-8 .elementor-element.elementor-element-6181eb4e {
  text-align: center;
}
.elementor-8
  .elementor-element.elementor-element-6181eb4e
  .elementor-heading-title {
  color: #ffffff;
  font-family: "PT Serif", Sans-serif;
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 1.1px;
}
.elementor-8
  .elementor-element.elementor-element-6181eb4e
  > .elementor-widget-container {
  padding: 0px 0px 0px 0px;
}
.elementor-8
  .elementor-element.elementor-element-8f8337b
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(
    .elementor-widget__width-initial
  ):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 8px;
}
.elementor-8
  .elementor-element.elementor-element-8f8337b
  > .elementor-element-populated {
  margin: 10px 10px 10px 10px;
  --e-column-margin-right: 10px;
  --e-column-margin-left: 10px;
}
.elementor-8 .elementor-element.elementor-element-52eed011 {
  text-align: center;
}
.elementor-8
  .elementor-element.elementor-element-52eed011
  .elementor-heading-title {
  color: #ffffff;
  font-family: "PT Serif", Sans-serif;
  font-size: 54px;
  font-weight: 800;
  letter-spacing: 1px;
}
.elementor-8
  .elementor-element.elementor-element-52eed011
  > .elementor-widget-container {
  padding: 0px 0px 0px 0px;
}
.elementor-8 .elementor-element.elementor-element-6d48f24f {
  text-align: center;
}
.elementor-8
  .elementor-element.elementor-element-6d48f24f
  .elementor-heading-title {
  color: #ffffff;
  font-family: "PT Serif", Sans-serif;
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 1.1px;
}
.elementor-8
  .elementor-element.elementor-element-6d48f24f
  > .elementor-widget-container {
  padding: 0px 0px 0px 0px;
}
.elementor-8
  .elementor-element.elementor-element-34ffabe9:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-8
  .elementor-element.elementor-element-34ffabe9
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  /* background-image: url("https://coffeeerc.vip/wp-content/uploads/2023/10/bg-banner-1.jpg"); */
  background-position: center center;
  background-size: cover;
}
.elementor-8 .elementor-element.elementor-element-34ffabe9 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 100px 0px 100px 0px;
}
.elementor-8
  .elementor-element.elementor-element-34ffabe9
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-8
  .elementor-element.elementor-element-349da030
  > .elementor-element-populated {
  margin: 0% 15% 0% 015%;
  --e-column-margin-right: 15%;
  --e-column-margin-left: 015%;
}
.elementor-8 .elementor-element.elementor-element-37ddc631 img {
  width: 231px;
}
.elementor-8
  .elementor-element.elementor-element-37ddc631
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-8 .elementor-element.elementor-element-27d05cc1 {
  text-align: center;
  color: #131313;
  font-family: "Karla", Sans-serif;
  font-size: 18px;
  font-weight: 700;
  font-style: italic;
}
.elementor-8 .elementor-element.elementor-element-5385e5da .elementor-button {
  font-family: "PT Serif", Sans-serif;
  font-weight: 800;
  letter-spacing: 1.4px;
  fill: #ffffff;
  color: #ffffff;
  background-color: #faa429;
  border-radius: 0px 0px 0px 0px;
  padding: 17px 20px 17px 20px;
}
.elementor-8 .elementor-element.elementor-element-1473f35c {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-8
  .elementor-element.elementor-element-27538942:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-8
  .elementor-element.elementor-element-27538942
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #ffffff;
  /* background-image: url("https://coffeeerc.vip/wp-content/uploads/2023/10/bg-video.jpg"); */
  background-position: center center;
  background-size: cover;
}
.elementor-8
  .elementor-element.elementor-element-27538942
  > .elementor-background-overlay {
  background-color: #000000;
  opacity: 0.92;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-8 .elementor-element.elementor-element-27538942 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 50px 0px 60px 0px;
}
.elementor-8 .elementor-element.elementor-element-4209a5f8 img {
  width: 458px;
}
.elementor-8 .elementor-element.elementor-element-343d888d {
  --spacer-size: 35px;
}
.elementor-8
  .elementor-element.elementor-element-26509938
  > .elementor-element-populated {
  margin: 20px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0px 30px 0px 30px;
}
.elementor-8
  .elementor-element.elementor-element-3b3b084f
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:last-child) {
  padding-bottom: calc(15px / 2);
}
.elementor-8
  .elementor-element.elementor-element-3b3b084f
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:first-child) {
  margin-top: calc(15px / 2);
}
.elementor-8
  .elementor-element.elementor-element-3b3b084f
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item {
  margin-right: calc(15px / 2);
  margin-left: calc(15px / 2);
}
.elementor-8
  .elementor-element.elementor-element-3b3b084f
  .elementor-icon-list-items.elementor-inline-items {
  margin-right: calc(-15px / 2);
  margin-left: calc(-15px / 2);
}
body.rtl
  .elementor-8
  .elementor-element.elementor-element-3b3b084f
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  left: calc(-15px / 2);
}
body:not(.rtl)
  .elementor-8
  .elementor-element.elementor-element-3b3b084f
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  right: calc(-15px / 2);
}
.elementor-8
  .elementor-element.elementor-element-3b3b084f
  .elementor-icon-list-icon
  i {
  color: #faa429;
  transition: color 0.3s;
}
.elementor-8
  .elementor-element.elementor-element-3b3b084f
  .elementor-icon-list-icon
  svg {
  fill: #faa429;
  transition: fill 0.3s;
}
.elementor-8 .elementor-element.elementor-element-3b3b084f {
  --e-icon-list-icon-size: 18px;
  --icon-vertical-offset: 0px;
}
.elementor-8
  .elementor-element.elementor-element-3b3b084f
  .elementor-icon-list-item
  > .elementor-icon-list-text,
.elementor-8
  .elementor-element.elementor-element-3b3b084f
  .elementor-icon-list-item
  > a {
  font-family: "Karla", Sans-serif;
}
.elementor-8
  .elementor-element.elementor-element-3b3b084f
  .elementor-icon-list-text {
  color: #c8c8c8;
  transition: color 0.3s;
}
.elementor-8
  .elementor-element.elementor-element-6f1ba283
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(
    .elementor-widget__width-initial
  ):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 10px;
}
.elementor-8
  .elementor-element.elementor-element-6f1ba283
  > .elementor-element-populated {
  margin: 20px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0px 20px 0px 20px;
}
.elementor-8 .elementor-element.elementor-element-951fab6 {
  text-align: center;
}
.elementor-8
  .elementor-element.elementor-element-951fab6
  .elementor-heading-title {
  color: #faa429;
  font-family: "PT Serif", Sans-serif;
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 0.7px;
}
.elementor-8
  .elementor-element.elementor-element-951fab6
  > .elementor-widget-container {
  margin: 20px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-8 .elementor-element.elementor-element-b1e76d9 {
  --grid-template-columns: repeat(0, auto);
  --icon-size: 19px;
  --grid-column-gap: 17px;
  --grid-row-gap: 0px;
}
.elementor-8
  .elementor-element.elementor-element-b1e76d9
  .elementor-widget-container {
  text-align: center;
}
.elementor-8
  .elementor-element.elementor-element-b1e76d9
  .elementor-social-icon {
  background-color: #faa429;
  --icon-padding: 0.6em;
}
.elementor-8
  .elementor-element.elementor-element-b1e76d9
  .elementor-social-icon
  i {
  color: #000000;
}
.elementor-8
  .elementor-element.elementor-element-b1e76d9
  .elementor-social-icon
  svg {
  fill: #000000;
}
.elementor-8
  .elementor-element.elementor-element-146d7bed
  > .elementor-element-populated {
  padding: 0px 0px 0px 0px;
}
.elementor-8 .elementor-element.elementor-element-66a2ad31 {
  text-align: center;
}
.elementor-8
  .elementor-element.elementor-element-66a2ad31
  .elementor-heading-title {
  color: #faa429;
  font-family: "PT Serif", Sans-serif;
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 0.7px;
}
.elementor-8 .elementor-element.elementor-element-1650eeea {
  text-align: center;
  color: #c8c8c8;
  font-family: "Karla", Sans-serif;
  font-size: 15px;
}
.elementor-8
  .elementor-element.elementor-element-5ae460ef:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-8
  .elementor-element.elementor-element-5ae460ef
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #000000;
}
.elementor-8 .elementor-element.elementor-element-5ae460ef {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 20px 0px 10px 0px;
}
.elementor-8
  .elementor-element.elementor-element-5ae460ef
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-bc-flex-widget
  .elementor-8
  .elementor-element.elementor-element-a681585.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-8
  .elementor-element.elementor-element-a681585.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-8 .elementor-element.elementor-element-3aeb9b4a {
  text-align: center;
  color: #cccccc;
  font-family: "Karla", Sans-serif;
  font-size: 15px;
}
@media (max-width: 1024px) {
  .elementor-8 .elementor-element.elementor-element-2bc6f074 img {
    width: 71%;
  }
  .elementor-8
    .elementor-element.elementor-element-2f8ca672
    .elementor-nav-menu
    .elementor-item {
    letter-spacing: 0.8px;
  }
  .elementor-8 .elementor-element.elementor-element-31ea79b9 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 08em 0em 14em 0em;
  }
  .elementor-8
    .elementor-element.elementor-element-42e8302e
    .elementor-heading-title {
    font-size: 47px;
  }
  .elementor-8 .elementor-element.elementor-element-234a9461 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 2em 2em 2em 2em;
  }
  .elementor-8
    .elementor-element.elementor-element-85da2f6
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-8
    .elementor-element.elementor-element-336a0f60
    .elementor-heading-title {
    font-size: 31px;
  }
  .elementor-8
    .elementor-element.elementor-element-2d38fb62:not(
      .elementor-motion-effects-element-type-background
    ),
  .elementor-8
    .elementor-element.elementor-element-2d38fb62
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-position: center right;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .elementor-8 .elementor-element.elementor-element-2d38fb62 {
    margin-top: 40px;
    margin-bottom: 0px;
    padding: 0em 1em 0em 1em;
  }
  .elementor-bc-flex-widget
    .elementor-8
    .elementor-element.elementor-element-4a0306c4.elementor-column
    .elementor-widget-wrap {
    align-items: center;
  }
  .elementor-8
    .elementor-element.elementor-element-4a0306c4.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
  }
  .elementor-8
    .elementor-element.elementor-element-5fc6ebdf
    > .elementor-widget-wrap
    > .elementor-widget:not(.elementor-widget__width-auto):not(
      .elementor-widget__width-initial
    ):not(:last-child):not(.elementor-absolute) {
    margin-bottom: -1px;
  }
  .elementor-8
    .elementor-element.elementor-element-5fc6ebdf
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-8
    .elementor-element.elementor-element-9d7a27f
    .elementor-image-box-title {
    font-size: 25px;
  }
  .elementor-8
    .elementor-element.elementor-element-9d7a27f
    .elementor-image-box-description {
    font-size: 15px;
  }
  .elementor-8
    .elementor-element.elementor-element-9d7a27f
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
  }
  .elementor-8
    .elementor-element.elementor-element-7e98bc99
    .elementor-image-box-title {
    font-size: 25px;
  }
  .elementor-8
    .elementor-element.elementor-element-7e98bc99
    .elementor-image-box-description {
    font-size: 15px;
  }
  .elementor-8
    .elementor-element.elementor-element-7e98bc99
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 01em 0em 0em 0em;
  }
  .elementor-8
    .elementor-element.elementor-element-247b6cc7
    .elementor-image-box-title {
    font-size: 25px;
  }
  .elementor-8
    .elementor-element.elementor-element-247b6cc7
    .elementor-image-box-description {
    font-size: 15px;
  }
  .elementor-8
    .elementor-element.elementor-element-247b6cc7
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 01em 0em 0em 0em;
  }
  .elementor-8
    .elementor-element.elementor-element-2933390c
    .elementor-image-box-title {
    font-size: 25px;
  }
  .elementor-8
    .elementor-element.elementor-element-2933390c
    .elementor-image-box-description {
    font-size: 15px;
  }
  .elementor-8
    .elementor-element.elementor-element-2933390c
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 01em 0em 0em 0em;
  }
  .elementor-8 .elementor-element.elementor-element-15763f65 {
    margin-top: 60px;
    margin-bottom: 0px;
    padding: 5em 1em 05em 1em;
  }
  .elementor-8
    .elementor-element.elementor-element-2195ef62
    .elementor-heading-title {
    font-size: 31px;
  }
  .elementor-8 .elementor-element.elementor-element-4759d7aa {
    font-size: 15px;
  }
  .elementor-8 .elementor-element.elementor-element-154e9ff9 {
    padding: 3em 0em 0em 0em;
  }
  .elementor-8 .elementor-element.elementor-element-5802f088 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 2em 1em 2em 1em;
  }
  .elementor-8
    .elementor-element.elementor-element-4f2e15db
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-8
    .elementor-element.elementor-element-1ad9f5fb
    .elementor-heading-title {
    font-size: 31px;
  }
  .elementor-8 .elementor-element.elementor-element-34ffabe9 {
    padding: 2em 1em 2em 1em;
  }
  .elementor-8 .elementor-element.elementor-element-27538942 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
@media (max-width: 767px) {
  .elementor-8 .elementor-element.elementor-element-47608c88 {
    width: 80%;
  }
  .elementor-bc-flex-widget
    .elementor-8
    .elementor-element.elementor-element-47608c88.elementor-column
    .elementor-widget-wrap {
    align-items: center;
  }
  .elementor-8
    .elementor-element.elementor-element-47608c88.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
  }
  .elementor-8 .elementor-element.elementor-element-2bc6f074 {
    text-align: left;
  }
  .elementor-8 .elementor-element.elementor-element-2bc6f074 img {
    width: 36%;
  }
  .elementor-8 .elementor-element.elementor-element-59f64b6c {
    width: 19%;
  }
  .elementor-bc-flex-widget
    .elementor-8
    .elementor-element.elementor-element-59f64b6c.elementor-column
    .elementor-widget-wrap {
    align-items: center;
  }
  .elementor-8
    .elementor-element.elementor-element-59f64b6c.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
  }
  .elementor-8
    .elementor-element.elementor-element-2f8ca672
    .elementor-nav-menu--dropdown
    a {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 11px;
    padding-bottom: 11px;
  }
  .elementor-8
    .elementor-element.elementor-element-31ea79b9:not(
      .elementor-motion-effects-element-type-background
    ),
  .elementor-8
    .elementor-element.elementor-element-31ea79b9
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-size: cover;
  }
  .elementor-8 .elementor-element.elementor-element-31ea79b9 {
    padding: 60px 0px 230px 0px;
  }
  .elementor-8
    .elementor-element.elementor-element-534974c2
    > .elementor-element-populated {
    margin: 27px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0em 1em 0em 1em;
  }
  .elementor-8 .elementor-element.elementor-element-42e8302e {
    text-align: center;
  }
  .elementor-8
    .elementor-element.elementor-element-42e8302e
    .elementor-heading-title {
    font-size: 28px;
  }
  .elementor-8 .elementor-element.elementor-element-35eee9f7 {
    text-align: center;
    font-size: 15px;
  }
  .elementor-8 .elementor-element.elementor-element-a3c0493 {
    text-align: center;
    font-size: 13px;
  }
  .elementor-8 .elementor-element.elementor-element-7342833a {
    width: 100%;
    max-width: 100%;
  }
  .elementor-8
    .elementor-element.elementor-element-3098ac01
    > .elementor-element-populated {
    margin: 27px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0em 1em 0em 1em;
  }
  .elementor-8
    .elementor-element.elementor-element-2daf33be
    > .elementor-element-populated {
    margin: 0px 20px 0px 20px;
    --e-column-margin-right: 20px;
    --e-column-margin-left: 20px;
    padding: 2em 0em 2em 0em;
  }
  .elementor-8
    .elementor-element.elementor-element-280cdf30
    > .elementor-element-populated {
    margin: 0px 20px 0px 20px;
    --e-column-margin-right: 20px;
    --e-column-margin-left: 20px;
    padding: 2em 0em 2em 0em;
  }
  .elementor-8
    .elementor-element.elementor-element-752545b5
    > .elementor-element-populated {
    margin: 0px 20px 0px 20px;
    --e-column-margin-right: 20px;
    --e-column-margin-left: 20px;
    padding: 2em 0em 2em 0em;
  }
  .elementor-8 .elementor-element.elementor-element-234a9461 {
    padding: 3em 0em 0em 0em;
  }
  .elementor-8
    .elementor-element.elementor-element-85da2f6
    > .elementor-element-populated {
    padding: 0px 0px 0px 0px;
  }
  .elementor-8 .elementor-element.elementor-element-336a0f60 {
    text-align: center;
  }
  .elementor-8
    .elementor-element.elementor-element-336a0f60
    .elementor-heading-title {
    font-size: 25px;
  }
  .elementor-8
    .elementor-element.elementor-element-2d38fb62:not(
      .elementor-motion-effects-element-type-background
    ),
  .elementor-8
    .elementor-element.elementor-element-2d38fb62
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-position: center left;
    background-size: contain;
  }
  .elementor-8
    .elementor-element.elementor-element-528cada4
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-8
    .elementor-element.elementor-element-5fc6ebdf
    > .elementor-element-populated {
    padding: 0px 0px 0px 0px;
  }
  .elementor-8
    .elementor-element.elementor-element-9d7a27f
    .elementor-image-box-img {
    margin-bottom: 0px;
  }
  .elementor-8
    .elementor-element.elementor-element-9d7a27f.elementor-position-right
    .elementor-image-box-img {
    margin-left: 0px;
  }
  .elementor-8
    .elementor-element.elementor-element-9d7a27f.elementor-position-left
    .elementor-image-box-img {
    margin-right: 0px;
  }
  .elementor-8
    .elementor-element.elementor-element-9d7a27f.elementor-position-top
    .elementor-image-box-img {
    margin-bottom: 0px;
  }
  .elementor-8
    .elementor-element.elementor-element-9d7a27f
    .elementor-image-box-wrapper
    .elementor-image-box-img {
    width: 27%;
  }
  .elementor-8
    .elementor-element.elementor-element-9d7a27f
    > .elementor-widget-container {
    padding: 1em 1em 1em 1em;
  }
  .elementor-8
    .elementor-element.elementor-element-7e98bc99
    .elementor-image-box-img {
    margin-bottom: 0px;
  }
  .elementor-8
    .elementor-element.elementor-element-7e98bc99.elementor-position-right
    .elementor-image-box-img {
    margin-left: 0px;
  }
  .elementor-8
    .elementor-element.elementor-element-7e98bc99.elementor-position-left
    .elementor-image-box-img {
    margin-right: 0px;
  }
  .elementor-8
    .elementor-element.elementor-element-7e98bc99.elementor-position-top
    .elementor-image-box-img {
    margin-bottom: 0px;
  }
  .elementor-8
    .elementor-element.elementor-element-7e98bc99
    .elementor-image-box-wrapper
    .elementor-image-box-img {
    width: 27%;
  }
  .elementor-8
    .elementor-element.elementor-element-7e98bc99
    > .elementor-widget-container {
    padding: 1em 1em 1em 1em;
  }
  .elementor-8
    .elementor-element.elementor-element-247b6cc7
    .elementor-image-box-img {
    margin-bottom: 0px;
  }
  .elementor-8
    .elementor-element.elementor-element-247b6cc7.elementor-position-right
    .elementor-image-box-img {
    margin-left: 0px;
  }
  .elementor-8
    .elementor-element.elementor-element-247b6cc7.elementor-position-left
    .elementor-image-box-img {
    margin-right: 0px;
  }
  .elementor-8
    .elementor-element.elementor-element-247b6cc7.elementor-position-top
    .elementor-image-box-img {
    margin-bottom: 0px;
  }
  .elementor-8
    .elementor-element.elementor-element-247b6cc7
    .elementor-image-box-wrapper
    .elementor-image-box-img {
    width: 27%;
  }
  .elementor-8
    .elementor-element.elementor-element-247b6cc7
    > .elementor-widget-container {
    padding: 1em 1em 1em 1em;
  }
  .elementor-8
    .elementor-element.elementor-element-2933390c
    .elementor-image-box-img {
    margin-bottom: 0px;
  }
  .elementor-8
    .elementor-element.elementor-element-2933390c.elementor-position-right
    .elementor-image-box-img {
    margin-left: 0px;
  }
  .elementor-8
    .elementor-element.elementor-element-2933390c.elementor-position-left
    .elementor-image-box-img {
    margin-right: 0px;
  }
  .elementor-8
    .elementor-element.elementor-element-2933390c.elementor-position-top
    .elementor-image-box-img {
    margin-bottom: 0px;
  }
  .elementor-8
    .elementor-element.elementor-element-2933390c
    .elementor-image-box-wrapper
    .elementor-image-box-img {
    width: 27%;
  }
  .elementor-8
    .elementor-element.elementor-element-2933390c
    > .elementor-widget-container {
    padding: 1em 1em 1em 1em;
  }
  .elementor-8
    .elementor-element.elementor-element-4e8de53c
    > .elementor-element-populated {
    margin: 27px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-8 .elementor-element.elementor-element-2195ef62 {
    text-align: center;
  }
  .elementor-8
    .elementor-element.elementor-element-2195ef62
    .elementor-heading-title {
    font-size: 25px;
  }
  .elementor-8 .elementor-element.elementor-element-154e9ff9 {
    padding: 0px 0px 0px 0px;
  }
  .elementor-8 .elementor-element.elementor-element-5802f088 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 2em 0em 2em 0em;
  }
  .elementor-8 .elementor-element.elementor-element-1ad9f5fb {
    text-align: center;
  }
  .elementor-8
    .elementor-element.elementor-element-1ad9f5fb
    .elementor-heading-title {
    font-size: 25px;
  }
  .elementor-8
    .elementor-element.elementor-element-709f8ef7
    .elementor-heading-title {
    font-size: 56px;
  }
  .elementor-8
    .elementor-element.elementor-element-2068691c
    .elementor-heading-title {
    font-size: 56px;
  }
  .elementor-8
    .elementor-element.elementor-element-5046ed3e
    .elementor-heading-title {
    font-size: 56px;
  }
  .elementor-8
    .elementor-element.elementor-element-52eed011
    .elementor-heading-title {
    font-size: 56px;
  }
  .elementor-8 .elementor-element.elementor-element-34ffabe9 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 2em 1em 3em 1em;
  }
  .elementor-8
    .elementor-element.elementor-element-349da030
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-8 .elementor-element.elementor-element-27d05cc1 {
    text-align: center;
    font-size: 15px;
  }
  .elementor-8
    .elementor-element.elementor-element-27d05cc1
    > .elementor-widget-container {
    padding: 0px 0px 0px 0px;
  }
  .elementor-8 .elementor-element.elementor-element-5385e5da {
    width: 100%;
    max-width: 100%;
  }
  .elementor-8
    .elementor-element.elementor-element-26509938
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-8
    .elementor-element.elementor-element-6f1ba283
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 2em 1em 0em 1em;
  }
  .elementor-8 .elementor-element.elementor-element-951fab6 {
    text-align: center;
  }
  .elementor-8
    .elementor-element.elementor-element-b1e76d9
    .elementor-widget-container {
    text-align: center;
  }
  .elementor-8
    .elementor-element.elementor-element-146d7bed
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 01em 0em 0em 0em;
  }
  .elementor-8 .elementor-element.elementor-element-66a2ad31 {
    text-align: center;
  }
  .elementor-8 .elementor-element.elementor-element-1650eeea {
    text-align: center;
    font-size: 14px;
  }
  .elementor-8 .elementor-element.elementor-element-3aeb9b4a {
    font-size: 11px;
  }
}
@media (min-width: 768px) {
  .elementor-8 .elementor-element.elementor-element-47608c88 {
    width: 27.624%;
  }
  .elementor-8 .elementor-element.elementor-element-59f64b6c {
    width: 72.376%;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-8 .elementor-element.elementor-element-85da2f6 {
    width: 70%;
  }
  .elementor-8 .elementor-element.elementor-element-4a0306c4 {
    width: 40%;
  }
  .elementor-8 .elementor-element.elementor-element-5fc6ebdf {
    width: 60%;
  }
  .elementor-8 .elementor-element.elementor-element-3a87377b {
    width: 70%;
  }
}
@media (min-width: 1025px) {
  .elementor-8
    .elementor-element.elementor-element-15763f65:not(
      .elementor-motion-effects-element-type-background
    ),
  .elementor-8
    .elementor-element.elementor-element-15763f65
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-attachment: fixed;
  }
  .elementor-8
    .elementor-element.elementor-element-5802f088:not(
      .elementor-motion-effects-element-type-background
    ),
  .elementor-8
    .elementor-element.elementor-element-5802f088
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-attachment: fixed;
  }
}
